reps
music
images
documents
downloads

.pki
.ssh
.dbus
.dotfiles
.gnupg
.cache
.vscode-oss
.thunderbird
.mozilla
.local/share/Trash

.config/discord
.config/Code\ -\ OSS
.config/nvim/plugged
.config/pulse
.config/dconf
.config/mpd/pid
.config/mpd/sticker.sql
.config/mpd/log

.local/share
!.local/share/dmenu
