reps
music
videos
images
documents
downloads

.pki
.ssh
.dbus
.dotfiles
.gnupg
.icons
.cache
.vscode-oss
.thunderbird
.mozilla
.minecraft
.local/share/Trash
.Xauthority

.config/discord
.config/Code\ -\ OSS
.config/nvim/plugged
.config/pulse
.config/dconf
.config/mpd/pid
.config/mpd/sticker.sql
.config/mpd/log
.config/transmission*
.config/java
.config/htop/htoprc
.config/polybar/scripts/network/show-ssid
.config/polybar/scripts/power/show-percent

.local/share
!.local/share/dmenu
